:root {
  --background: #222222;
  --dot-background: #101010;
  --dot-foreground: #222222;
  --text: #FEFEFE;
  --accent: #ff5656;
  --layer1: #303030;
  --layer2: #404040;
  --layer3: #505050;
}

main {
    display: flex;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
    padding: 0;
}

#starting-screen__modal {
    width: 50vw;
    height: 100%;
    max-width: 425px;
    min-width: 375px;
    display: flex;
    flex-direction: column;
    /* margin: 0 auto; */
    gap: 1rem;
    text-align: center;
    box-sizing: border-box;
    background-color: var(--background);
    padding: 2rem 1rem;
}

#greeting-header {
    height: fit-content;
    justify-content: center;
    box-sizing: border-box;
}

#local-workspaces {
    background-color: var(--layer1);
    width: 100%;
    height: 100%;
    align-self: center;
    padding: 1rem;
    gap: 1rem;
    border-radius: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    & nav {
        box-sizing: border-box;
        overflow-y: auto;
        scrollbar-width: thin;
        scrollbar-color: var(--layer3) var(--layer1);
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
}

#local-workspaces__create {
    display: flex;
    background-color: var(--background);
    border-radius: 1rem;
    width: 100%;
}

#local-workspaces__name {
    display: flex;
    background-color: var(--background);
    border: 0;
    width: 100%;
    text-align: center;
    color: var(--text);
    outline: 0;
}

#local-workspaces__locate {
    display: flex;
    background-color: var(--accent);
    box-sizing: border-box;
    padding: 1rem;
    border-radius: 1rem;
    align-items: center;
}

#local-workspaces__done {
    display: flex;
    background-color: var(--accent);
    box-sizing: border-box;
    padding: 1rem;
    border-radius: 1rem;
    align-items: center;
}

#workspace-entry {
    display: flex;
    background-color: var(--layer2);
    border-radius: 1rem;
    padding: 1rem;
    align-items: center;
    box-sizing: border-box;
    position: relative;

    &:hover {
        background-color: var(--background);
    }

    & p {
        user-select: none;
        display: flex;
        overflow-wrap: anywhere;
        width: 90%;
        padding: 0 1rem;
        box-sizing: border-box;
        border-right: 1px solid var(--layer3);
    }

    & img {
        max-width: 2rem;
        display: flex;
        width: 10%;
        padding: 8px;

        &:hover {
            scale: 1.25;
            transform: rotate(25deg);
        }
    }
}